@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    min-height: 7vh;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background: white;
}

.logo {
    flex: 4;
    margin-left: 20px;
}

.nav-bar {
    flex: 1;
    margin-right: 20px;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link li {
    margin: 0px 10px 0px 10px;
}

.link {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'Archivo Black', sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

span {
    font-weight: 400;
    margin-left: 10px;
}

.top .top-image img {
    width: 100%;
}

.mid .content-line {
    margin: auto;
    margin-bottom: 30px;
    width: 96.5%;
    border: 2px solid #F9F9F9;
}

.mid .content-title h2 {
    margin: 70px 0px 20px 25px;
}

.mid .portofolio img {
    width: 100%;
    padding: 6px 4px 6px 4px;
}

.mid .portofolio {
    padding: 0px 22px 0px 22px;
}

.mid .portofolio .row {
    display: flex;
    flex-direction: row;
}

.below-mid .content-line,
.contact .content-line {
    margin: auto;
    margin-bottom: 20px;
    width: 96.5%;
    border: 2px solid #F9F9F9;
}

.below-mid .content-title h2,
.contact .content-title h2 {
    margin: 70px 0px 20px 25px;
    font-weight: 400;
}

.below-mid p {
    padding: 0px 22px 0px 22px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 50px;
}

.team .row {
    display: flex;
    padding: 0px 22px 0px 22px;
}

.johndoe img,
.janedoe img,
.mikeross img,
.danstar img {
    width: 100%;
    padding: 0px 5px 0px 5px;
}

.johndoe h2,
.janedoe h2,
.mikeross h2,
.danstar h2 {
    padding: 0px 5px 0px 5px;
    margin: 10px 0px 15px 0px;
}

.johndoe h3,
.janedoe h3,
.mikeross h3,
.danstar h3 {
    font-family: 'Assistant', sans-serif;
    padding: 0px 5px 0px 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: gray;
}

.johndoe p,
.janedoe p,
.mikeross p,
.danstar p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    padding: 0px 5px 0px 5px;
    margin-bottom: 15px;
}

.johndoe .Contact input,
.janedoe .Contact input,
.mikeross .Contact input,
.danstar .Contact input {
    margin-left: 7px;
    border: none;
    width: 97%;
    height: 30px;
    cursor: pointer;
    font-weight: 700;
}

.contact p {
    padding: 0px 22px 0px 22px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin-bottom: 7px;
}

.contact .input input {
    width: 97%;
    transition: all 0.3 ease;
    padding: 5px 5px;
    margin: 7px 20px;
    border: 2px solid lightgray;
}

.send input {
    margin: 20px 20px;
    width: 9%;
    padding: 3px 0px;
    background: black;
    color: white;
    border: none;
}

.location img {
    margin-top: 20px;
    padding: 0px 21px 0px 21px;
    width: 100%;
}

@media screen and (max-width:1024px) {
    .content-title,
    .contact p {
        text-align: center;
        align-items: center;
    }
    .team .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .johndoe .Contact input,
    .janedoe .Contact input,
    .mikeross .Contact input {
        margin-bottom: 20px;
    }
    .johndoe img,
    .janedoe img,
    .mikeross img,
    .danstar img {
        width: 70%;
    }
    .contact .input input,
    .send input {
        width: 95%;
    }
    .mid .portofolio .row {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
    }
}